@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.filterByName {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filterByName__container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.filterByName__input--standard {
    border: 1 px solid $color_dark;
    color: $color_grey;
    transition: border-color 0.3s;

    &:hover,
    &:focus {
        border-color: $color_contrast;
    }
}

.filterByName__input {
    @extend %textLabel;
    border-radius: 10px;
    border: 2px solid;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    width: 175px;
    background-color: var(--background-input);
}

@include forMediumScreens($breakpoint-small, $breakpoint-medium) {
    .filterByName__container {
        flex-direction: row;
        justify-content: center;
    }
}

@include forLargeScreens($breakpoint-medium) {
    .filterByName__container {
        justify-content: center;
        flex-direction: row;
    }
}
