%textDescription {
    font-family: $font_default;
    font-size: 0.7rem;;
}

%textStandard {
    font-family: $font_default;
    font-size: 1.2rem;
    text-align: center;
}

%textLabel {
    font-family: $font_default;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
}
