@import "../styles/mixins/mixins.scss";
@import "../styles/placeholders/placeholders.scss";
@import "../styles/variables/variables.scss";

.filterByType {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filterByType___container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.filterByType__input--standard {
    border-color: $color_dark;
    color: $color_grey;
    transition: border-color 0.3s;
    background-color: var(--background-input);
    &:hover,
    &:focus {
        border-color: $color_contrast;
    }
}

.filterByType__input {
    @extend %textLabel;
    border-radius: 10px;
    border: 2px solid;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    width: 200px;

    option {
        text-align: left;
    }
}
