@import "../styles/mixins/mixins.scss";
@import "../styles/placeholders/placeholders.scss";
@import "../styles/variables/variables.scss";

.app {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.app__filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.app {
    color: var(--text-primary);
    background-color: var(--background);
    font-size: large;
    font-weight: bold;
    padding: 20px;
    height: calc(100% - 40px);
    transition: all 0.5s;
}

button {
    color: var(--text-primary);
    background-color: var(--background);
    border: 2px var(--text-primary) solid;
    float: right;
    transition: all 0.5s;
}

.app_btn--light {
    @extend %btnLight;
}

.app__btn {
    @extend %btn;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 50px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    transition: height 0.3s width 0.3s;

    // &:hover {
    //     height: 52px;
    //     width: 202px;
    // }

    a {
        text-decoration: none;
    }
}
