@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.pokemon {
    align-items: center;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.pokemon__description {
    @extend %textLabel;
    font-size: 0.8rem;
}

.pokemon__figcaption {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon__figcaptionItem {
    align-items: center;
    background-color: $color_contrast;
    border-radius: 5px;
    color: $color_light;
    display: flex;
    font-size: 0.7rem;
    font-weight: 400;
    margin: 5px;
    text-transform: uppercase;

    p {
        margin: 0;
        padding: 5px;
    }
}

.pokemon__img--small {
    height: 10rem;
}

.pokemon__text--description {
    @extend %textDescription;
}

.pokemon__text--label {
    @extend %textLabel;
}
