@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.scrollToSection {
    display: flex;
    justify-content: center;
}

.scrollToSection__btn--light-no-border {
    border: none;
    width: 150px;
}

.scrollToSection__btn {
    @extend %btn;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 50px;
    margin: 0;
    padding: 10px;

    a {
        text-decoration: none;
    }
}
