@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.app {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.app__btn {
    @extend %btn;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 50px;
    margin: 0;
    padding: 10px;

    a {
        text-decoration: none;
    }
}

.app__btn--container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.app__btn--contrast {
    font-size: 0.7rem;
    margin: 10px;
    padding: 10px;
    width: 50px;

    &:active {
        border: 5px solid $color_active;
        padding: 10px 10px;
    }
}

.app__btn--light-no-border {
    width: 150px;
}

.app__container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
}

.app--dark-light {
    background-color: var(--background);
    color: var(--text-primary);
    font-size: large;
    font-weight: bold;
    height: calc(100% - 40px);
    transition: all 0.5s;
}

.app__mainContent {
    display: flex;
    flex-direction: column;
}

button {
    background-color: var(--background);
    border: 2px var(--text-primary) solid;
    color: var(--text-secondary);
    float: right;
    transition: all 0.5s;
}

@include forMediumScreens($breakpoint-small, $breakpoint-medium) {
    .app__mainContent {
        margin: 0 5vw;
    }
}

@include forLargeScreens($breakpoint-medium) {
    .app__mainContent {
        margin: 0 10vw;
    }
}
