@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.error__icon {
  height: 50px;
}

.errorIndicator {
    align-items: space-between;
    background-color: transparent;
    box-sizing: border-box;
    color: $color_dark;
    display: flex;
    flex-direction: column;
    // height: 90vh;
    justify-content: center;
    margin: 0 20px;
  
    @include forLargeScreens($breakpoint-medium) {
      margin: 0 10vw;
    }
}

.error__info {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
