@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.pokemons__filters {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokemons__listItem {
    align-items: center;
    background-color: var(--background-tile-primary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    min-width: 250px;
    text-decoration: none;
    transition: background-color 0.5s;

    &:hover {
        background-color: var(--background-tile-secondary);
        cursor: pointer;
    }
}

.pokemons--unordered {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
}

@include forMediumScreens($breakpoint-small, $breakpoint-medium) {
    .pokemons__filters {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 5vh;
    }

    .pokemons__listItem {
        width: 20%;
    }
}

@include forLargeScreens($breakpoint-medium) {
    .pokemons__filters {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 10vh;
    }

    .pokemons__listItem {
        width: 20%;
    }
}
